body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    line-height: 1.9;
    color: #8c8c8c;
    background-color: #efefef;
    position: relative
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    color: #000
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: 0 0
}

.form-control:active, .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000
}

.custom-select, .form-control {
    height: 50px
}

.custom-select:active, .custom-select:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000
}

.btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase
}

.btn.btn-primary {
    background: #35477d;
    color: #fff
}

.btn:hover {
    color: #fff
}

.btn:active, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bg-image {
    background-image: url(/assets/img/ilustrators/panel-email.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent
}